/* ==================================================
   Add your own style here. This file will overide properties described in any other css file.
================================================== */


#gridHolder {
	display: inline !important;
}
#gridHolder li {
	display: inline !important;
}
#gridHolder img {
  height: 150px;
  width: 100%;
}
#gridHolder h3 {
  height: 100px;
}

p a {
	color: blue;
}

.featured-gallery img{
	height: 150px;
	width: 100%;
}

@media screen and (max-width:768px) {
	.desktop {
		display: none;
	}
}

@media screen and (min-width:769px) {
	.mobile {
		display: none;
	}
}

.events-listing {
	padding-bottom: 150px;
}



.our-partners-section {
	padding-top: 50px;
}

.our-partners-section .partner-card-panel {
	padding: 25px;
}

.our-partners-section .partner-card-content {
	padding: 50px 25px 50px 25px;
	border-style: solid;
	border-radius: 15px;
	border-width: 1px;
	border-color: #000;
}

.our-partners-section .partner-card-content img {
	height: 150px !important;
}

.our-partners-section .partner-card-content h5 {
	height: 75px !important;
}

.our-partners-section .partner-card-content .pt-2 {
	padding-top: 50px;
}